{{!-- single post rendered --}}
<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  {{#if comments.length}}
  {{#each comments as |comment|}}
  <p>{{comment.body}}</p>
  <p>{{comment.username}}</p>
  {{/each}}
  {{/if}}
  <input type="text" id="comment"/>
  <button value={{id}} id="commentpost">Comment</button>

</div>

<script src="/js/comments.js"></script>